@use "@/style/theme";
@use "@/style/utils";

.main {
  display: flex;
  flex-direction: column;

  .myself {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 30em;
    height: 30em;
    margin: auto;
    text-align: center;

    .name {
      height: 1.3em;
      font-size: 5rem;
      font-weight: bold;
    }

    .desc {
      font-size: 1.3rem;
    }

    .aboutme {
      width: 10em;
      height: 2em;

      line-height: 2em;
      background: theme.$primary;
      border-radius: 300px;
      @include utils.margin-y(20px);
    }
  }

  .contents {
    display: flex;
    flex: 1;
    background: theme.$bg-light;

    .container {
      display: flex;
      flex-direction: row;
      @include utils.margin-x(auto);
      @include utils.margin-y(10em);

      .pagecard {
        display: grid;
        grid-template-rows: 1fr auto;
        width: 17em;
        height: 10em;
        background: theme.$primary;
        border-radius: 1em;

        @include utils.margin-x(1em);

        p {
          font-size: 1.2rem;
          font-weight: bold;

          @include utils.margin-x(1em);
          @include utils.margin-y(1em);
        }
      }
    }
  }
}
